{% extends "layout.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}
{% for message in get_flashed_messages() %}
{% endfor %}

<head>

    <!-- Sidebar navigation -->
    <button class="btn p-3 button-collapse" id="sidenav-burger"><i class="fas fa-bars"></i></button>
    <div id="sideNav" class="side-nav">
        <ul class="list-group">
            <a href="{{ url_for('auth_bp.logout') }}" class="list-group-item list-group-item-action">Logout</a>
            <a href="#!" class="list-group-item list-group-item-action">Battle History</a>
            <a href="#!" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
            <a href="#!" class="list-group-item list-group-item-action">Vestibulum at eros</a>
        </ul>
        <div class="sidenav-bg mask-strong"></div>
    </div>
    <!--/. Sidebar navigation -->


    <div class="container-fluid p-2 h-100" id="main-container">
        <div class="row m-3">
            <div class="col-12 text-center">

                <h1 class="h1-responsive font-sharetech">Welcome <span class="h3-responsive">{{ current_user.name }}</span></h1>
            </div>
            <div class="col-12 text-center">
                <h1 class="h1-responsive font-sharetech"><strong>Current Status: </strong><span class="indie">
                        {% if current_user.in_game %}IN BATTLE{% else %}SLACKING{% endif %}</span></h1>
            </div>
            <div class="col-12 text-center">
                {% if current_user.in_game %}
                <a href="{{ url_for('main_bp.leave_battle') }}">
                    <button type="button" class="btn btn-outline-primary waves-effect" id="leaveBattle">Leave Battle
                    </button>
                </a>
                <a href="{{ url_for('main_bp.battle') }}">
                    <button type="button" class="btn btn-outline-primary waves-effect" id="joinBattle">Resume Battle
                    </button>
                </a>
                {% else %}
                <a href="{{ url_for('main_bp.create_battle') }}">
                    <button type="button" class="btn btn-outline-primary waves-effect" id="createBattle">Create Battle
                    </button>
                </a>
                <form action="{{ url_for('main_bp.battle') }}" method="POST">
                    <div class="row align-items-center">
                        <input name="battle_id" class="form-control col-4 font-sharetech" type="text" placeholder="Input Battle ID" aria-label="Input Battle ID">
                        <button type="submit col-4" class="btn btn-outline-primary waves-effect" id="joinBattle">Join Battle
                        </button>
                    </div>

                </form>

                <!-- Search form -->
                {% endif %}
            </div>
        </div>
    </div>


    {% endblock %}

    {% block javascript %}

    <script type="text/javascript" src="{{ url_for('static', filename='js/navbar.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/dashboard.js') }}"></script>

    {% endblock %}
