{% extends "layout.html" %}

{% block title %}
Login
{% endblock %}

{% block content %}
{% for message in get_flashed_messages() %}
{% endfor %}
<!-- Default form login -->
<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-md-4 p-0 order-1" id="scissors">
            <div class="mask flex-center rgba-stylish-light">
                <div class="row h-75">
                    <h1 class="h1-responsive text-center text-pri">Scissors</h1>
                </div>
            </div>
        </div>
        <div class="col-md-4 p-0 order-3 order-md-2" id="paper">
            <div class="mask flex-center rgba-stylish-light row m-0">
                <div class="row h-75">
                    <div class="col-12">
                        <h1 class="h1-responsive text-center text-pri">Paper</h1>
                    </div>
                    <div class="col-12">
                        <p class="lead text-center text-pri"><em>Make your choice</em></p>
                    </div>
                    <div class="col-12">
                        <form class="text-center p-5" action="/login" method="POST">
                            {{ form.csrf_token }}
                            <div class="md-form">
                                {{ form.username(class="form-control mb-4 text-pri text-center", placeholder="Username") }}
                                {{ form.password(class="form-control mb-4 text-pri text-center", placeholder="Password") }}
                            </div>
                            {{ form.submit(class="btn btn-outline-primary waves-effect", id="login") }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 p-0 order-2 order-md-3" id="stone">
            <div class="mask flex-center rgba-stylish-light">
                <div class="row h-75">
                    <h1 class="h1-responsive text-center text-pri">Stone</h1>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Default form login -->


{% endblock %}
