{% extends "layout.html" %}

{% block title %}
Register
{% endblock %}

{% block content %}
{% for message in get_flashed_messages() %}
{% endfor %}

<!-- Material form register -->
<div class="card">

    <h5 class="card-header info-color white-text text-center py-4">
        <strong>Sign up</strong>
    </h5>

    <!--Card content-->
    <div class="card-body px-lg-5 pt-0">

        <!-- Form -->
        <form class="text-center" style="color: #757575;" action="/signup" method="POST">
            {{ form.csrf_token }}
            <div class="form-row">
                <div class="col">
                    <!-- First name -->
                    <div class="md-form">
                        {{ form.name(class="form-control") }}
                        {{ form.name.label }}
                    </div>
                </div>
                <div class="col">
                    <!-- Last name -->
                    <div class="md-form">
                        {{ form.username(class="form-control", id="username") }}
                        {{ form.username.label }}
                        <small class="form-text deep-orange-text mb-4" id="usernameTaken">Username taken</small>
                    </div>
                </div>
            </div>

            <!-- E-mail -->
            <div class="md-form mt-0">
                {{ form.email(class="form-control", id="email", type="email") }}
                {{ form.email.label }}
                <small class="form-text deep-orange-text mb-4" id="emailTaken">Email taken</small>
            </div>

            <!-- Password -->
            <div class="md-form">
                {{ form.password(class="form-control", id="password") }}
                {{ form.password.label }}
                <small id="materialRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
                    At least 8 characters
                </small>
            </div>

            <!-- Phone number -->
            <div class="md-form">
                {{ form.confirm_pass(class="form-control", id="confirmPassword") }}
                {{ form.confirm_pass.label }}
                <small id="passwordError" class="form-text deep-orange-text mb-4">
                    Passwords must match
                </small>
            </div>

            <!-- Sign up button -->
            {{ form.submit(class="btn btn-info my-4 btn-block", id="register") }}

            <!-- Social register -->
            <p>or sign up with:</p>

            <a type="button" class="btn-floating btn-fb btn-sm">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a type="button" class="btn-floating btn-tw btn-sm">
                <i class="fab fa-twitter"></i>
            </a>
            <a type="button" class="btn-floating btn-li btn-sm">
                <i class="fab fa-linkedin-in"></i>
            </a>
            <a type="button" class="btn-floating btn-git btn-sm">
                <i class="fab fa-github"></i>
            </a>

            <hr>

            <!-- Terms of service -->
            <p>By clicking
                <em>Sign up</em> you agree to our
                <a href="" target="_blank">terms of service</a>

        </form>
        <!-- Form -->

    </div>

</div>
<!-- Material form register -->
<script type="text/javascript" src="{{ url_for('static', filename='js/auth.js') }}"></script>

{% endblock %}
