body {
    background-image: url("/static/img/dashboard-bg.jpg");
    background-size: cover;
    background-position: center 0;
    height: 100vh;
    color: #f8f9fa;
}

/* Utilities */

.font-indie {
    font-family: 'Indie Flower', cursive;
}

.font-sharetech {
    font-family: 'Share Tech Mono', monospace;
}

.bg-pri {
    background-color: rgba(0, 0, 0, 0.7) !important;
}

.text-pri {
    color: #f8f9fa !important;
}

.bg-transparent {
    background-color: transparent;
}

.min-w-min-cont {
    min-width: min-content !important;
}

.min-w-max-cont {
    min-width: max-content;
}

/* Specific Components */
#sidenav-burger {
    position: fixed;
    z-index: 1;
    border
}

#scissors, #stone {
    min-height: 300px;
    font-family: 'Share Tech Mono', monospace;
    background-size: cover;
    background-position: center;
}

#stone {
    /*    background-image: url('https://images.pexels.com/photos/668353/pexels-photo-668353.jpeg?cs=srgb&dl=four-rock-formation-668353.jpg&fm=jpg'); */
    background-image: url("/static/img/stone.jpg");
}

#scissors {
    /*    background-image: url('https://images.pexels.com/photos/668353/pexels-photo-668353.jpeg?cs=srgb&dl=four-rock-formation-668353.jpg&fm=jpg'); */
    background-image: url("/static/img/scissors.jpg");
}

#paper {
    /*    background-image: url('https://images.pexels.com/photos/668353/pexels-photo-668353.jpeg?cs=srgb&dl=four-rock-formation-668353.jpg&fm=jpg'); */
    background-image: url("/static/img/paper.jpg");
    background-size: cover;
    background-position: center;
    min-height: 500px;
    font-family: 'Share Tech Mono', monospace;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #f8f9fa !important;
    opacity: 0.7 !important;
    text-align: center;
}

.form-control {
    caret-color: #f8f9fa;
}

.side-nav {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 60px;
    background-color: rgba(0, 0, 0, 0.7);
}

.list-group-item {
    min-width: max-content;
    background-color: transparent;
    color: #f8f9fa;
}

.btn {
    color: #f8f9fa !important;
    background-color: transparent !important;
    border: 2px solid #f8f9fa !important;
    font-family: 'Share Tech Mono', monospace;
}

.btn:hover, .btn:focus, .btn:active {
    border: 2px solid #f8f9fa !important;
    color: #f8f9fa !important;
    background-color: rgba(0, 0, 0, 0.7)!important;
    border: 2px solid #f8f9fa !important;
}


/* Animations */
.openNav {
    animation-name: openNav;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.closeNav {
    animation-name: closeNav;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes openNav {
    from {
        width: 0px;
    }

    to {
        width: 250px;
    }
}

@keyframes closeNav {
    from {
        width: 250px;
    }

    to {
        width: 0px;
    }
}
